test/*.12d
test/*.cvg
test/*.dat
test/*.frd
test/*.sta
test/*.net
test/*.eig
test/*.equ
test/*.stm
test/*.rin
test/*.rout
test/*.fin
test/*.fcv
test/*.vwf
test/*.fbd
test/*.out
scripts/error.*
scripts/temp.*
scripts/log.*
